#title{
    background-image: linear-gradient(white,pink);
    font-family: fantasy;
    border: 3px white solid;
    text-decoration:wavy;
    font-size: 40px;
    color: black;
}
#status{
    font-size: 30px;
    background-image: linear-gradient(lightblue,orange);
    color: black;
    font-family: monospace;
    border-radius: 40px;
    border: 5px blue solid;
}
.btn{
    font-size: 25px;
    background-image: linear-gradient(pink,yellow);
    border: 3px black solid;
    color: black !important;
}
h1{
    color: aqua;
    background-image: linear-gradient(black,darkred);
}
canvas{
    box-shadow:10px 10px 10px skyblue;
    border-radius: 10px;
    border: 5px darkred solid;
}